<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Configuración JNDI para Tomcat
    Ubicar en: META-INF/context.xml del WAR
-->
<Context>
    <!-- DataSource JNDI para Oracle -->
    <Resource name="jdbc/x21d"
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="20"
              maxIdle="5"
              maxWaitMillis="10000"
              username="xxxxxxxx"
              password="xxxxxxxx"
              driverClassName="oracle.jdbc.OracleDriver"
              url="jdbc:oracle:thin:@x21d:1530/x21.ejie.eus"
              validationQuery="SELECT 1 FROM DUAL"
              testOnBorrow="true"/>
</Context>